.carousel-container {
  margin-top: 100px;
}
.items {
  margin: 50px;
}
.lawn {
  background-image: url('../images/justin-schwartfigure.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;  
}
.garden {
  background-image: url('../images/serena-saponaro.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;  
}
.all-services {
  background-image: url('../images/daniel-watson.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.pressure-washing {
  background-image: url('../images/pressure-wash.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.other-services {
  background-image: url('../images/retaining-wall.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.other-services-list {
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 4px;
  padding: 0px 20px;
  text-align: center;
  width: 60%;
}
h2 {
  color: white;
  background: black;
  height: 50px;
  width: 90%;
  text-align: center;  
  font-size: 2.5em;
  font-family: 'Genos', sans-serif;
}
.other-services p {
  color: black;  
  font-family: 'Genos', sans-serif;
  font-weight: 700;  
  margin: 0px;   
  font-size: 1.5em;
}
.btn-book-now {
  align-self: center;
  margin-bottom: 20px; 
  font-size: 3em;
  height: 60px;  
  font-family: 'Hubballi', cursive;
  border: 4px solid white;
  border-radius: 4px; 
}
.btn-book-now:hover {  
  border: 4px solid rgb(121, 199, 70);
  border-radius: 6px;
}
button:hover {
  border: 2px solid rgb(121, 199, 70);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 1.8em;
  }
  .other-services p {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 760px) {
  h2 {
    font-size: 1.5em;
  }
  .other-services p {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 450px) {
  .carousel-container {
    margin-top: 30px;
  }
  .items {
    margin: 0px;
  }
  h2 {
    font-size: 1.8em;
  }
  .other-services p {
    font-size: 1em;
    letter-spacing: .5px;
    padding: 5px;
  }
  .btn-book-now {
    height: 50px;
    font-size: 2em;    
  }
}