.carousel-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.items {
  margin: 30px;  
}
.lawn {
  background-image: url('../images/justin-schwartfigure.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;  
}
.garden {
  background-image: url('../images/serena-saponaro.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;  
}
.all-services {
  background-image: url('../images/daniel-watson.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.irrigation {
  background-image: url('../images/victor-furtuna.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.planting {
  background-image: url('../images/kelly-sikkema.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.pressure-washing {
  background-image: url('../images/pressure-wash.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.landscape-design {
  background-image: url('../images/landscape-design.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.winter-services {
  background-image: url('../images/elias-null.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.landscape-services {
  background-image: url('../images/landscape-services.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}
.hardscape-services {
  background-image: url('../images/retaining-wall.jpg');
  background-size: cover;
  height: 40vh;
  margin: 20px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center; 
}

.btn-book-now {
  background-color: rgba(255, 255, 255, 0.9); /* Use a semi-transparent background color */
  color: black;
  border: 2px solid green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 6px; /* Apply rounded corners for a modern touch */
  transition: border 0.3s, box-shadow 0.3s; /* Add transition for hover effect */
  font-size: 16px; /* Adjust font size */
  font-weight: bold; /* Adjust font weight */
  margin: 10px; /* Add margin to separate the button from other elements */
}

.btn-book-now:hover {
  border: 2px solid rgb(121, 199, 70);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance the box-shadow on hover */
  cursor: pointer;
}
button:hover {
  border: 2px solid rgb(121, 199, 70);
  cursor: pointer;
}
/* Add transitions for filter property */
.service-card {
  transition: filter 0.3s ease-in-out;
  filter: grayscale(60%); /* Initial filter value for faded effect */
}

/* On hover, remove the filter effect */
.service-card:hover {
  transition: filter 0.3s ease-in-out;
  filter: none;
}

@media screen and (max-width: 1024px) {
  
  /* .other-services p { */
    /* font-size: 1.0em; */
  /* } */
}
@media screen and (max-width: 760px) {
 
  /* .other-services p {
    font-size: 1.2em;
  } */
}
@media screen and (max-width: 450px) {
  .carousel-container {
    margin-top: 30px;
  }
  .items {
    margin: 0px;
  }
  
  /* .other-services p {
    font-size: 1em;
    letter-spacing: .5px;
    padding: 5px;
  } */
  .btn-book-now {       
    background-color: white;
    color: black;
    border: 2px solid green; 
    display: flex;
    justify-content: center;  
    align-items: center; 
    /* font-size: large; */
  }
}